fastapi
unicorn
sqlmodel 
sqlalchemy 
alembic
pydantic[dotenv]
pytesseract 
opencv-python-headless 
pdfplumber
pdf2image
paddleocr>=2.6
torch==2.*
transformers>=4.41
accelerate 
pillow
python-multipart
torchvision
sentencepiece 
timm
protobuf
python-jose[cryptography] 
passlib[bcrypt]

